<div class="col-md-4 offset-md-4 mt-4">
    <form #registerForm ="ngForm" (ngSubmit)="registerUser(registerForm)">
        <h4 class="border-bottom">Register</h4>
        <h5 class="text text-danger" *ngIf='error'>{{error}}</h5>
        <input type="email" name="email" id="email" class="form-control mb-3" placeholder="Enter Email here..."
        #email ="ngModel" ngModel >
        <input type="password" name="password" id="password" class="form-control mb-3" placeholder="Enter password"
        #password ="ngModel" ngModel>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
</div>