<div class="col-md-3 float-left">
    <a routerLink="bikes">
        <img src="https://cdn.pixabay.com/photo/2014/12/16/03/37/motor-cycle-569865__340.jpg" width="100%"
            alt="Bike Image">
    </a><br>
    <a routerLink="cars">
        <img src="https://cdn.pixabay.com/photo/2016/04/01/12/16/car-1300629__340.png" width="100%" 
        alt="Car Image">
    </a><br>9
    <a routerLink="planes">
        <img src="https://cdn.pixabay.com/photo/2014/12/29/15/09/military-raptor-582888__340.jpg" width="100%"  
        alt="plane Image">
    </a>

</div>
<router-outlet></router-outlet>